<!doctype html>
<html>
<head>
<title>Plakate verwalten</title>
<style type="text/css">
  body {
    font-family: sans-serif;
  }

  th {
    text-align: left;
  }

  th.no-sort {
    pointer-events: none;
  }

  a:link, a:visited {
    color: blue;
    text-decoration: underline;
  }
</style>
<link rel="stylesheet" href="/static/vendor/sortable.min.css" />
<script type="text/javascript" src="/static/vendor/sortable.min.js"></script>
</head>
<body>
<p><a href="..">Zurück zur Karte</a></p>

<table class="sortable">
 <thead>
  <tr>
    <th><b>#</b></th>
    <th><b>Breitengrad</b></th>
    <th><b>Längengrad</b></th>
    <th style="min-width:500px"><b>Ort (ca.)</b></th>
    <th class="no-sort"><b>Löschen</b></th>
  </tr>
 </thead>
 <tbody>
{{range $count, $Plakat := .}}
  <tr>
    <td>{{ $count  }}</td>
    <td>{{ $Plakat.Latitude }}</td>
    <td>{{ $Plakat.Longitude }}</td>
    <td>{{ $Plakat.Location }}</td>
    <td><a href="/del/{{ $Plakat.ID }}">X</a></td>
  </tr>
{{end}}
 </tbody>
</table>
</body>
</html>
