<!doctype html>
<html>
    <head>
        <title>Piratenplakate</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="/static/vendor/leaflet/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="/static/vendor/toastify/toastify.min.css" />
        <link rel="stylesheet" href="/static/style.css" />
        <script src="/static/vendor/jquery/jquery-3.6.0.min.js"></script>
        <script src="/static/vendor/leaflet/leaflet.js"></script>
        <script src="/static/vendor/pouchdb/pouchdb.js"></script>
        <script src="/static/vendor/pouchdb/L.TileLayer.PouchDBCached.js"></script>
        <script src="/static/vendor/toastify/toastify-js"></script>
        <script src="/static/script.js"></script>
    </head>
    <body style="overflow:none">
        <div id="map"></div>
        <div id="tracebtn">verfolgen</div>
        <div id="newplakatbtn">Plakat+</div>
    </body>
</html>

